body{
	display: flex;
	justify-content: center;
	align-content: center;
    background-image: url("https://i.ibb.co/239NJmh/MLP-background.png");
    background-position: center;
    padding: 0;
    margin: 0;
}

.cuadro{
	margin: 20px;
	width: 600px;
	height: 310px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
    /*background-image: url("https://i.ibb.co/wgKNQTs/alfabetajuega-my-little-pony-190717.jpg");*/
}

.formulario{
    position: relative;
    text-align: center;
    font: 1em sans-serif;
    margin: 6px;
}

.resultados{
    position: relative;
    text-align: center;
    font: 1em sans-serif;
    margin: 6px;
}

.inputs{
    text-align: center;
    border-radius: 4px;
    width: 45px;
    height: 30px;
    margin: 5px;
}

label{
    font-weight: bolder;
    color: cornsilk;
}

button{
    background-color: rgb(224, 0, 131);
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 25px;
    font-size: 15px;
    color: azure;
    margin: 3px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

button:enabled:hover{
    background-image: url("https://i.ibb.co/3dsz5nz/MLP-btn1.png"); 
    background-size: cover;
    color: black;
    font-weight: bolder;
}

.message{
    text-align: center;
    font-family: "Arial";
    font-size: medium;
    color: white;
    font-weight: bolder;
}